/* Main body style */
body {
	padding:0px;
	margin:0px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#444444;
	background-color:#cddbe8;
}

/*<a></a> Styles*/
a {
	color:#454545;
}
a:visited {
	color:#454545;
}

/* Stuff in tables */
.tbl {
	border:1px solid #CFCFCF;
}
table.tbl td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #CFCFCF;
}
td.main {
	background-color:#CFCFCF;
	text-align:center;
}
td.sub {
	background-color:#DFDFDF;
	text-align:center;
}
.highlight {
	background-color:#A7B6E5;
}

.fieldset {
	border: 1px dashed #DBDBDB;
	background-color: #F3F3F3;
	padding:5px;
}
.ftitle {
	position:relative;
	padding:3px;
	top: -1.00em; left: 1em;
	background-color:#DBDBDB;
	display:inline;
	width:auto;
}

/* module title on the left top bottom and right */
.ModuleTitle {
	border:1px solid #4197EE;
	text-align:left;
	background-color:#FCFCFC;
	background-image:url(Images/module_title_bg.png);
	font-size:14px;
	color:white;
	padding-top:2px;
	padding-left:12px;
	padding-right:4px;
}

.ModuleBox {
	padding:4px;
	margin-top:0px;
	margin-bottom:4px;
}

/* module content on the left top bottom and right */
.ModuleContent {
	background-color:#FFFFFF;
	background-image:url(Images/module_bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
	border-top:0px;
	text-align:left;
	border:3px solid #4197EE;
}

/*box within each module */
.BoxContent{
	padding:4px;
}

/* The main title image */
.TitleImage {
	background-image:url(Images/ffa_header.png);
	width:792px;
	height:200px;
	margin-bottom:5px;
}
.TitleText{
	overflow:hidden;
	height:20px;
}

/* This is the frame which goes around the whole site, usually left invisible, design preference. */
.MainFrame {
	width:100%;
	border:0px;
}

/* Middle section for the main box at the top, where the title goes... */
.MainMid {
	text-align:center;
	background-image: url(Images/ffa_header_r.png);
	height:200px;
	/*margin-bottom:5px;*/
}

/*Footer Style*/
.Footer {
	text-align:center;
	padding:2px;
	background-image: url(Images/ffa_footer_r.png);
	color: White;
	/*border-top:5px solid #FF0000;
	background-color:#DDDDDD;
	border-right:0px;*/
}

/*??*/
.SmallIcon{
	/*IE 5-6 fix */
	font-size:1px;

	margin-top:3px;
	width:11px;
	height:11px;
	cursor:pointer;
}
.SmallIcon2{
	/*IE 5-6 fix */
	font-size:1px;

	margin-top:5px;
	margin-right:5px;
	width:11px;
	height:11px;
	cursor:pointer;
}

.Toolbar{
	background-image: url(Images/toolbar_bg.png);
	/*height: 30px;*/
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}

.Toolbar a{
	font-size: 18px;
	color: Blue;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration:none;
}

.Toolbar a:hover{
	font-size: 18px;
	color: White;
	background-image: url(Images/toolbar_bg_h.png);
	background-repeat:repeat-x;
}


/*Module minimize/maximize icons*/
.CollapseIcon{
	background-image:URL(Images/uncollapsed.png);
}

.UnCollapseIcon{
	background-image:URL(Images/collapsed.png);
}
/*Table Styles*/
#LeftColumn {
	width:200px;
	padding:2px;
	vertical-align:top;
}
#CenterColumn {
	padding:2px;
	vertical-align:top;
}
#RightColumn {
	width:200px;
	padding:2px;
	vertical-align:top;
}
#TopColumn {
	width:200px;
	padding:2px;
	vertical-align:top;
}
#BottomColumn {
	width:200px;
	padding:2px;
	vertical-align:top;
}
