/* ERROR REPORTER STYLES */

.ErrorO {
	border: 1px solid #D7812A;
	background-color:#F7E47D;
	margin:5px;
	position: absolute;
	top:0px;
	left:0px;
	width:98%;
	}
.ErrorO .Title {
	padding:8px;
	font-size:16px;
	background-color:#EFD54A;
	text-align:left;
	}
.ErrorO .Content {
	padding:4px;
	text-align:left;
	}
.ErrorO .Error {
	width:97%;
	background-color:white;
	border: 1px solid black;
	padding:3px;
	font-size:14px;
}
.ErrorO .modefloat {
	float:right;
	font-size:10px;
}