<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    SetEnv mod_rewrite true
</IfModule>

<IfModule !mod_rewrite.c>
  SetEnv mod_rewrite false
   ErrorDocument 404 /owms/index.php
</IfModule> 