.Menu{

}
.Menu div.section{
	padding-left:15px;
	/*margin-bottom:13px;*/
}
.Menu a.section{
	display:block;
	background-image:URL(folder.gif);
	background-repeat:no-repeat;
	background-position: left;
	padding-left:13px;
	/*float:left; 
	width: 10px; 
	height: 10px;*/
}
.Menu a.sectionOpen{
	display:block;
	background-image:url(folderOpen.gif);
	background-repeat:no-repeat;
	background-position: left;
	padding-left:13px;
}
.Menu a.sublink{
	display:block;
	background-repeat:no-repeat;
	background-position: left;
	padding-left:13px;
}

/*
.Menu a.section{
	text-decoration:none;
}
.Menu a.section:visited{
	text-decoration:none;
}
.Menu a.sectionOpen{
	text-decoration:none;
}
.Menu a.sectionOpen:visited{
	text-decoration:none;
}
*/